@media (min-width: 1300px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1390px;
    }
}

@media (min-width: 1400px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1490px;
    }
}

@media (min-width: 1500px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1590px;
    }
}

@media (min-width: 1600px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1690px;
    }
}